{block title}Editace uživatele{/block}



{block content}

	{form editAdminForm class => 'form'}
	<fieldset>
		<legend>Změnit heslo</legend>
		<table>   
		  	<tr>
				<td>{label newPswd/}</td>
				<td>{input newPswd}</td>
		  	</tr>
		  	<tr>
				<td>{label ctrlPswd/}</td>
				<td>{input ctrlPswd}</td>
		  	</tr>
		</table>

	{input edit class=> 'button'}
	{/form}
	</fieldset> 

	
{/block}

{block footer}
{/block}

{block style}	
{/block}
